<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcmpts.commons.dao.LogBizMapper">
  <resultMap id="BaseResultMap" type="com.kcmpts.commons.entity.LogBiz">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="caller" jdbcType="VARCHAR" property="caller" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
</mapper>